{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/all.css' %} ">
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %} ">
    <link rel="stylesheet" href="{% static '/css/style.css' %} ">
    <link rel="stylesheet" href="{% static '/css/lightbox.min.css' %} ">
    
    <title>BT Real Estate {% block title %}{% endblock title %} </title>
</head>
<body>
    {% comment %} top bar {% endcomment %}
    {% include 'partials/_topbar.html' %}

    {% comment %} navbar {% endcomment %}
    {% include 'partials/_navbar.html' %}
   
    {% comment %} main content {% endcomment %}

    {% block content %}
    {% endblock  %}

    {% comment %} footer {% endcomment %}
    {% include 'partials/_footer.html' %}

    <script src=" {% static '/js/jquery-3.3.1.min.js' %} "></script>
    <script src=" {% static '/js/bootstrap.bundle.min.js' %} "></script>
    <script src=" {% static '/js/lightbox.min.js' %} "></script>
    <script src=" {% static '/js/main.js' %} "></script>
</body>
</html>